<!-- Font Example -->
<h1 class="text-3xl text-center font-paci mb-10">
  Hello world!
</h1>

<!-- Text Alignment -->
<div class="text-xl text-left mb-10">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem tenetur necessitatibus et esse. Harum deserunt magni at modi laborum quos eos provident quae! Ullam suscipit sed fugit! Ab, iste recusandae.
</div>

<div class="text-xl text-right mb-10">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem tenetur necessitatibus et esse. Harum deserunt magni at modi laborum quos eos provident quae! Ullam suscipit sed fugit! Ab, iste recusandae.
</div>

<div class="text-xl text-justify mb-10">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem tenetur necessitatibus et esse. Harum deserunt magni at modi laborum quos eos provident quae! Ullam suscipit sed fugit! Ab, iste recusandae.
</div>

<div class="text-xl text-center mb-10">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem tenetur necessitatibus et esse. Harum deserunt magni at modi laborum quos eos provident quae! Ullam suscipit sed fugit! Ab, iste recusandae.
</div>

<br>







<router-outlet />
